#products {
    /* height: 100vh; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}



#products .product-card {
    max-width: 360px;
    max-height: 350px;
    border: 1px solid #0a1646;
    border-radius: 20px;
    background-color: #060a36;
    overflow: hidden;
}

#products .img-wrapper {
    width: 100%;
    height: 60%;
    background-color: white;
    position: relative;
    margin-bottom: 12px;
}

#products .product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 16px 0px;
}

#products .btn-cart {
    all: unset;
    cursor: pointer;
}

#products .fa-cart-shopping {
    border: 1px solid #060a36;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: #060a36;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 2.5;
}

#products .fa-cart-shopping:hover {
    color: #7ac2eb;
}


#products .ratings,
#products .card-title {
    padding: 12px;
}

#products .card-price {
    padding-left: 12px;
}

#products .products-title {
    font-size: 30px;
}

#products .products-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#products .price-details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

#products .btn-detail {
    padding: 4px 12px;
    margin-right: 20px;

}